
*{
  box-sizing: border-box;
}
p{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
h1, h2, h3, h4{
  color: #4e4e4e;
}


.mentor h1{
  color: #4e4e4e;
}
.mentor p{
  margin-bottom: 20px;
}
.mentor ul li{
  margin-bottom: 10px;
} 

footer{
  background: #90292a;
  position: relative;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 30px;
  
}
footer ul{
  list-style: none;
  margin-left: 0px;
 
}
footer ul li:hover{
  text-decoration: underline;
}
footer ul li{
  color: white;
  font-size: 13px;
  margin-bottom: 10px;
}
footer a, h3{
  text-decoration: none;
  color: white;
}
footer h3{
  font-size: 15px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
footer .row{
  display: flex;
  justify-content: space-around;
  margin-right: 20px;
  padding-right: 15px;
}
footer .row div{
  width: 25%;
}
.social-media .social-icons{
  display: flex;
  justify-content: space-around;
}
.social-media .policy-ul{
  display: flex;
  justify-content: flex-start;
}


footer ul {
  padding: 0;
  list-style-type: none;
}


.arrays p{
  font-size: 14px;
    color: #90292a;
}
.arrays{
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}
.array-item{
  width: 25%;
}
.array-item h3{
  color: maroon;
  font-size: 30px;
  margin: 0;
}

@media (max-width:700px) {
  footer .row{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10%;
    width: 100%;
  }
  footer .row div{
    width: 100%;
  }
  .social-media .social-icons{
    width: 25%;
  }
  .array-item{
    width: 50%;
  }
}


@media (max-width:580px){
  .array-item{
    width: 100%;
  }
}